body {
    margin: 0;
    height: 150vh;
}

nav {
    background-color: #6c888a;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    display: block;
    transition: top 0.3s;
    z-index: 10;
}

main {
    min-height: 100vh;
    width: 100vw;
    margin-top: 10vh;
    transition: all 0.3s;
}

.search {
    /* position: relative;
    left: 0;
    right: 0; */
    height: 10vh;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.search input {
    border-radius: 50px;
    padding: 2%;
    border: 1px solid gray;
    height: 30%;
    width: 70%;
    transition: all 0.1s;
    padding: 2% 5%;
}

.search input:focus {
    outline: none;
}

.search-ico {
    height: 50%;
    aspect-ratio: 1/1;
    background-color: white;
    border: 1px solid gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-ico > div {
    background-image: url(../images/search.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 40%;
    aspect-ratio: 1/1;
}

.recommended {
    background-color: rgb(240, 240, 240);
    padding: 2vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    width: 50%;
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,.3), 
    1px -1px 3px rgba(0,0,0,.3), 
    -1px 1px 3px rgba(0,0,0,.3), 
    -1px -1px 3px rgba(0,0,0,.3);

    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.3), 
    1px -1px 3px rgba(0,0,0,.3), 
    -1px 1px 3px rgba(0,0,0,.3), 
    -1px -1px 3px rgba(0,0,0,.3);

    box-shadow: 1px 1px 3px rgba(0,0,0,.3), 
    1px -1px 3px rgba(0,0,0,.3), 
    -1px 1px 3px rgba(0,0,0,.3), 
    -1px -1px 3px rgba(0,0,0,.3);
}

.item div {
    background-image: url(../manga/shonen/Jujutsu%20Kaisen/chapter1/01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 263/384;
}

.item h2 {
    margin: 1% 2%;
    padding: 0;
    font-size: calc(1vw + 1vh + 1vmin);
}