body {
    margin: 0;
    /* height: 150vh; */
}

nav {
    background-color: #6c888a;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    display: block;
    transition: top 0.3s;
    z-index: 10;
}

main {
    /* min-height: 100vh; */
    /* width: 100vw; */
    /* margin-top: 10vh; */
    transition: all 0.3s;
}

.search {
    /* position: relative;
    left: 0;
    right: 0; */
    height: 10vh;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.search input {
    border-radius: 50px;
    padding: 2%;
    border: 1px solid gray;
    height: 30%;
    width: 70%;
    transition: all 0.1s;
    padding: 2% 5%;
}

.search input:focus {
    outline: none;
}

.search-ico {
    height: 50%;
    aspect-ratio: 1/1;
    background-color: white;
    border: 1px solid gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-ico > div {
    background-image: url(../images/search.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 40%;
    aspect-ratio: 1/1;
}

#categories > div {
    background-color: rgb(240, 240, 240);
    padding: 2vh 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#item-list {
    margin: 0;
    /* background-color: aqua; */
    list-style-type: none;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* min-width: 50vw; */
    /* flex-wrap: wrap; */
    flex-direction: column;
    padding: 0;
}

.item {
    margin: 5% 1%;
    /* width: 50%; */
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,.3), 
    1px -1px 3px rgba(0,0,0,.3), 
    -1px 1px 3px rgba(0,0,0,.3), 
    -1px -1px 3px rgba(0,0,0,.3);

    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.3), 
    1px -1px 3px rgba(0,0,0,.3), 
    -1px 1px 3px rgba(0,0,0,.3), 
    -1px -1px 3px rgba(0,0,0,.3);

    box-shadow: 1px 1px 3px rgba(0,0,0,.3), 
    1px -1px 3px rgba(0,0,0,.3), 
    -1px 1px 3px rgba(0,0,0,.3), 
    -1px -1px 3px rgba(0,0,0,.3);

    transition: all 50ms;
}

.item img {
    /* background-size: cover;
    background-repeat: no-repeat; */
    /* width: 100%; */
    height: 50vh;
    aspect-ratio: 263/384;
}

.item h2 {
    margin: 1% 2%;
    padding: 0;
    font-size: calc(1vw + 1vh + 1vmin);
}

.item:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#JJK {
    background-image: url(../manga/shonen/Jujutsu%20Kaisen/chapter1/01.jpg);
}

#CSM {
    background-image: url(../manga/shonen/Chainsaw%20Man/chapter1/01.jpg);
}

@media only screen and (width > 50vh) {
    .search {
        padding: 0 25%;
    }
    .search input {
        height: 30%;
    }
    .search-ico {
        height: 70%;
    }

    #item-list {
        flex-direction: row;
        min-width: 50vw;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;
        align-items: center;
        flex-wrap: wrap;
        /* border: 1px solid black; */
    }
}